<!DOCTYPE html>


{% block userblock %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XSS POC</title>
  <link rel="stylesheet" href="styles.css">
  <style>
   
   iframe
   {
     height: 500px;
     width: 1500px;
     
   }
   h2
   {
     text-align: center;
   }
   .xss
   {
    background-color:rgb(5, 56, 149);
    background-image: url('/image.jpg');
   }
  </style>
</head>
<body>
    <div class="xss">
      
      <h1 style="color:yellow;margin-left:50px">
    INTRUSION ATTACK SCENARIOS</h1>
    <h2 style="color:yellow;margin-left:50px">Cross Site Scripting</h2>

  <P style="color: white;">Cross-Site Scripting (XSS) is a common security vulnerability that occurs when attackers inject malicious scripts into web pages viewed by other users. These scripts can execute within the context of the victim's browser, allowing the attacker to steal sensitive information, hijack user sessions, deface websites, or launch other malicious activities. XSS vulnerabilities arise due to improper input validation and inadequate output encoding in web applications.<br>

    XSS vulnerabilities can be classified into three main types:<br>

Stored XSS: The injected script is permanently stored on the server and served to every user who visits the affected page.<br>
Reflected XSS: The injected script is reflected off the web server and executed in the victim's browser as part of the response to a user-initiated request (e.g., via a URL parameter).<br>
DOM-based XSS: The vulnerability arises within the client-side JavaScript code by manipulating the Document Object Model (DOM) directly.<br>
    Video Demo <a href="https://shorturl.at/aEIMN " style="color: white;">XSS POC</a></P>
  <p style="color: white;"> <b>Causes</b><br>

    <b>Improper Input Validation: </b> Failure to properly validate user inputs, such as form fields, URL parameters, or HTTP headers, can allow attackers to inject malicious scripts into the application.<br>
    <b>Lack of Output Encoding:</b> When developers fail to encode or sanitize user-generated content before displaying it in web pages, attackers can exploit this vulnerability to inject and execute malicious scripts.<br>
    <b>Insecure Third-Party Components:</b> Including third-party libraries, plugins, or scripts in web applications without vetting their security can introduce XSS vulnerabilities if these components are not properly maintained or updated.
  </p>


  <br>

  <p style="color: white;"> <b>Recommendations</b><br>

    <b>Input Validation: </b>  Implement strict input validation to ensure that user-supplied data conforms to expected formats and does not contain malicious code. Use whitelisting techniques to only allow known safe inputs.<br>
    <b>Output Encoding: </b> Encode or sanitize all user-generated content before displaying it in web pages to prevent XSS attacks. Use libraries or frameworks that automatically handle output encoding to minimize human error.<br>
    <b>Content Security Policy (CSP):</b> Implement CSP headers to specify which sources of content are allowed to be loaded by the web browser. CSP can help mitigate the impact of XSS attacks by blocking unauthorized scripts from executing.
  </p>
    </div>
    
      
  

    {% endblock %}
</body>
</html>
